* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
   
}

body {
    background-color: rgba(156, 156, 156, 0.548);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    
    
}

h2 {
    font-size: 36px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(156, 156, 156, 0.548);
    text-align: left;
    color: white;
}

label {
    display: block;
    cursor: pointer;
}

p {
   display: inline-block;
   width: 100%;
   font-size: 24px;
   
}

.artParagraph {
    margin-left: 5px;

}

.featuredImage {
    float: left;
    width: 100%
}

.imgBx.active {
    width: 150%;
    height: 150%;
    margin-left: auto;
    margin-right: auto;       
    align-items: center;
    z-index: 1000;
}
.mission {
    margin-top: 75px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}

.title {
    font-size: 1.5cm;
    flex: 100px;
    color: rgb(10, 10, 10);
}
.navbar {
    flex: 100px;
    padding: 20px;
    text-align: right;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;

    
   
}   

.navbar a {
    clear: right;
    text-decoration: none;
    display: block;
    
}

label {
    margin-top: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    text-align: right;
    display: none;
    width: 26px;
    float: right;
    
}

#toggle {
    display: none;
}

#toggle:checked + .navbar {
    display: block;
    }


    @media only screen and (max-width:1024px) and (min-width:620px){
        .navbar {
            font-size: 30px;
        }
        .mission {
            font-size: 30px;
        }
    }


    @media only screen and (min-width:1024px) {
    article {
    flex-direction: column; 
    } 
    
    p {
    flex-direction: column;
    width: 50%;
    font-size: 1.8em;
      
    }
   .featuredImage{
    width: 48%;       
    }
    .imgBx.active {
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    }
 
    .navbar {
    text-align: right;
    display:inline-flex;
    justify-content: space-between;
    font-size: 35px;
    
    
        
    }
      
    #toggle {
        display: none;
    }
   
  }

